table{
	width:100%;
	color:#666;
	font-size:14px;
	text-align: center;
	padding: 30px 50px;
}
thead tr{
	background-color:#00a1ff;
	color: white;
	font-size:18px;
}
tbody tr:nth-child(even){
	padding:2 5px;
	background-color: #f7f7f7;
}
tbody tr td,thead tr th{
	width:8% !important;
}

button{
	background-color: #4686f7;
    color: white;
}

.panel{
	height: 400px; width: 800px; 
	background-color: white;
	position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow:0 0 4px #000 inset;
}
.panel > div > div{
	height: 30px;
	width: 100%;
	padding: 2px 15px;
	position: absolute;
	box-sizing: border-box;
}
.panel-title{
	background-color: #0871af;
	top: 0px;
}
.panel-title-text{
	color: white;
	line-height: 30px;
}
.panel-content{
	top: 30px;
	height: 320px !important;
	overflow: auto;
}
.panel-title-button{
	float: right;
}
.panel-footer{
	background-color: #0871af;
	bottom: 0px;
}
.panel-footer-button{
	float: right;
}